{% extends "base/base.html" %}

{% block title %}
Delete this Blog
{% endblock title %}
{% block content %}
{% if request.user.is_superuser %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="{{ request.META.HTTP_REFERER }}" class="">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    </a><br>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Are Your Sure Your Want To Delete This Blog?</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors or form.non_field_errors %}
      <div class="w-full p-2 rounded-xl mb-2 bg-red-100 text-red-500">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <img src="{{ blog.img.url }}" class="lg:w-[45rem] md:w-[30rem] sm:w-[30rem] rounded-md w-full xs:w-[30rem]">
      <div>
        <button type="submit"
          class="flex mt-2 w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Delete
          Property</button>
      </div>
  </div>
</div>
</div>
</form>
{% else %}
<div class="py-12 mt-20 items-center flex justify-center">
  <div>
    <h1 class="lg:text-7xl text-4xl text-center font-black">404</h1>
    <h1 class="text-center mt-4 lg:text-lg text-xs">Error, Page not found.</h1>
  </div>
</div>
{% endif %}
{% endblock content %}